<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tom.hwk"
    android:versionCode="23"
    android:versionName="15.8">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/icon"
        android:killAfterRestore="true"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme"
        android:debuggable="false">

        <activity
            android:name=".Main"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEWHOMEWORK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditHomework"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.EDITHOMEWORK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Information"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.INFORMATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".system.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".system.AlarmReceiver"></receiver>


    </application>

</manifest>
